# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Go workspace files
.idea/
.vscode/
*.swp
*.swo

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*

# RocksDB files
testdb/
*.sst
*.log
MANIFEST-*
*.ldb
LOG*
CURRENT
LOCK
*.log
*.old

# Binary files
bin/
rocksdb-cli

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below if you want to check in vendor/)
# vendor/

# Environment variables
.env
*.env 